svg.linkButton{
    color: white;
    height: 100px;
    margin-right: 25px;
    margin-left: 25px;

    transition: 0.5s;
}



svg.linkedinSocial:hover{
    height: 110px;
    color: rgb(96, 96, 228);
    transition: .25s;
}

svg.githubSocial:hover{
    height: 110px;
    color: rgb(130, 66, 204);
    transition: .25s;
}


svg.linkButton:visited{
    color: purple;
}

div.SocButtonDiv{
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
}